{% extends 'base.html' %}

{% block content %}

<table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Author</th>
            <th scope="col">Delete</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>

        <tbody>

            {% for blg in blogs %}
          <tr>
            <th scope="row">{{blg.id}}</th>
            <td>{{blg.title}}</td>
            <td>{{blg.content}}</td>
            <td>{{blg.author}}</td>
           <td><a href="remove/{{blg.id}}">Delete</a></td>
            <td>><a href='update/{{blg.id}}'>Update</a></td>
          </tr>
          {% endfor %}

        </tbody>
      </table>

{% endblock %}